!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.DS_Store

## iOS Specific
*.hmap
*.ipa
*.app.dSYM.zip

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Cocoapods
Pods/
